<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header>
      <div class="main-header-list">
        <ul>
          <h2 class="logo"><a href="/">Fyyur</a></h2>
          <form action="/artiste" method="post">
            <input type="text" placeholder="Find a venue" name="artiste" />
          </form>
          <li><a href="/venue/venues">Venues</a></li>
          <li><a href="/artist/artists">Artists</a></li>
          <li><a href="/artist/shows">Shows</a></li>
        </ul>
      </div>
    </header>
    <h1>Available Artiste</h1>
  </body>
</html>
