<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fyuur App</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <header>
      <div class="main-header-list">
        <ul>
          <h2 class="logo"><a href="/">Fyyur</a></h2>
          <li><a href="/venue/venues">Venues</a></li>
          <li><a href="/artist/artists">Artists</a></li>
          <li><a href="/artist/shows">Shows</a></li>
        </ul>
      </div>
    </header>
    <div class="container-main">
      <div class="wrap-content">
        <h1>Fyyur</h1>
        <p>Where musical artists meet musical venues</p>
        <section class="buttons">
          <div class="button-topLevel">
            <button><a href="venue/venues">Find a venue</a></button
            ><button><a href="/artist/artists">Find an artist</a></button>
          </div>
          <div>
            <button><a href="/venue/createPost">Post a venue</a></button
            ><button><a href="/artist/createArtist">Post an artist</a></button>
          </div>
        </section>
        <h2>Publicize about your show for free</h2>
        <button class="btn-lower">
          <a href="/artist/createShow">Post a show</a>
        </button>
      </div>

      <div class="genre-image">
        <div class="box"></div>
      </div>
    </div>
    <footer><p>&copy; 2022 Japh</p></footer>
  </body>
</html>
